<h1>Portfolio Managers</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @portfolio_managers.each do |portfolio_manager| %>
      <tr>
        <td><%= portfolio_manager.first_name %></td>
        <td><%= portfolio_manager.last_name %></td>
        <td><%= portfolio_manager.email %></td>
        <td>
          <div>
            <%= link_to "Show", portfolio_manager_path(id: portfolio_manager.id) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "New Portfolio Manager", new_portfolio_manager_path %>
