<div  data-controller="administratorProfile">
  <%= form_with model: @administrator, url: "/administrator_profile/update", method: :patch, local: true do |form| %>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p style="color: green"><%= notice %></p>
        <div class="card">
          <div class="card-header">Administrator profile</div>
          <div class="card-body">
            <% if @administrator.errors.any? %>
              <div style="color: red">
                <h2><%= pluralize(@administrator.errors.count, "error") %> prohibited this administrator profile from being saved:</h2>
                <ul>
                  <% @administrator.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <%= form.label :first_name %>
                  <%= form.text_field :first_name, class:"form-control",placeholder:"First name"  %>
                </div>
                <div class="form-group">
                  <%= form.label :last_name %>
                  <%= form.text_field :last_name, class:"form-control",placeholder:"Last name"  %>
                </div>
                <div class="form-group">
                  <%= form.label :email %>
                  <%= form.text_field :email, class:"form-control",placeholder:"Email"  %>
                </div>
                <div class="form-group">
                  <%= form.label :password %>
                  <%= form.password_field :password, class:"form-control",placeholder:"Password"  %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group mt-2 ">
                  <%= form.file_field :profile_image_file, id: "inputFileId", type: "file", class:"d-none" ,data: { action: "change->administratorProfile#inputFileOnChanged" }%>
                  <img id="previewImage" src="<%= @administrator.profile_image%>"  class="profile-thumbnail"/>
                  <i id="avatar" class="fa-solid fa-user-tie profile-thumbnail" ></i>
                </div>
                <a class="btn" id="uploadBtn" data-action ="click->administratorProfile#uploadPhoto">
                  <i class="fa-solid fa-camera fa-xl"></i>
                  <span class="icon-name" style="display: -webkit-box; font-size: 80%;">Select photo</span>
                </a>
                <a class="btn" id="deleteBtn"  data-action="click->administratorProfile#deletePhoto">
                  <i class="fa-solid fa-trash-can fa-xl"></i>
                  <span class="icon-name" style="display: -webkit-box; font-size: 80%;">Delete</span>
                </a>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="text-right">
              <%= form.submit :Submit, :value => "Save", class:"btn btn-primary", style: "width: 100px;border-radius: 50rem!important;" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
