<p style="color: green"><%= notice %></p>
<h1>Administator profile</h1>
<%= form_with model: @administrator, url: "/administrator_profile/update", method: :patch, local: true do |form| %>
  <div class="p-2 d-flex flex-column">
    <div class="form-group">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, class:"form-control",placeholder:"First name"  %>
    </div>
    <div class="form-group">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, class:"form-control",placeholder:"Last name"  %>
    </div>
    <div class="form-group">
      <%= form.label :email %>
      <%= form.text_field :email, class:"form-control",placeholder:"Emails"  %>
    </div>
    <div class="form-group">
      <%= form.label :password %>
      <%= form.password_field :password, class:"form-control",placeholder:"Password"  %>
    </div>
    <div class="d-flex flex-row">   
      <div class="p-2 form-group">
        <%= form.submit :Submit, :value => "Save", class:"btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
