<table class="table" class="text-uppercase"  style="font-size:12px">
  <tbody>
    <tr>
      <th scope="row" style="width: 75%">previous Close</th>
      <td style="width: 25%"><%=@previousClose%></td>
    </tr>
    <tr>
      <th scope="row">open</th>
      <td><%=@open%></td>
    </tr>
    <tr>
      <th scope="row">low</th>
      <td><%=@low%></td>
    </tr>
    <tr>
      <th scope="row">high</th>
      <td><%=@high%></td>
    </tr>
    <tr>
      <th scope="row">volume</th>
      <td><%=@volume%></td>
    </tr>
    <tr>
      <th scope="row">average Volume</th>
      <td><%=@averageVolume%></td>
    </tr>
    <tr>
      <th scope="row">ask</th>
      <td><%=@ask%></td>
    </tr>
    <tr>
      <th scope="row">bid</th>
      <td><%=@bid%></td>
    </tr>
  </tbody>
</table>
