 
<table class="table" style="font-size:12px" >
  <tbody>
    <tr>
      <th  style="width: 75%">market Cap</th>
      <td style="width: 25%"><%=@marketCap%></td>
    </tr>
    <tr>
      <th scope="row">pe Ratio</th>
      <td><%=@peRatio%></td>
    </tr>
    <tr>
      <th scope="row">eps Ratio</th>
      <td><%=@epsRatio%></td>
    </tr>
    <tr>
      <th scope="row">Dividends</th>
      <td><%=@dividends%></td>
    </tr>
    <tr>
      <th scope="row">dividend Yield</th>
      <td><%=@dividendYield%></td>
    </tr>
    <tr>
      <th scope="row">last Dividend Value</th>
      <td><%=@lastDividendValue%></td>
    </tr>
    <tr>
      <th scope="row">stock Splits</th>
      <td><%=@stockSplits%></td>
    </tr>
    <tr>
      <th scope="row">yield</th>
      <td><%=@yield%></td>
    </tr>
  </tbody>
</table>
