<table class="table" class="text-uppercase"  style="font-size:11px">
  <tbody>
    <tr>
      <th scope="row" style="width: 60%">previous Close</th>
      <td style="width: 40%">
        <%=number_with_precision(@previousClose,  delimiter: ",", precision: 2)%>
      </td>
    </tr>
    <tr>
      <th scope="row">open</th>
      <td><%=number_with_precision(@open,  delimiter: ",", precision: 2)%></td>
    </tr>
    <tr>
      <th scope="row">low</th>
      <td><%=number_with_precision(@low,  delimiter: ",", precision: 2)%></td>
    </tr>
    <tr>
      <th scope="row">high</th>
      <td><%=number_with_precision(@high,  delimiter: ",", precision: 2)%></td>
    </tr>
    <tr>
      <th scope="row">volume</th>
      <td><%=number_with_precision(@volume,  delimiter: ",", precision: 2)%></td>
    </tr>
    <tr>
      <th scope="row">average Volume</th>
      <td><%=number_with_precision(@averageVolume,  delimiter: ",", precision: 2)%></td>
    </tr>
    <tr>
      <th scope="row">ask</th>
      <td><%=number_with_precision(@ask,  delimiter: ",", precision: 2)%></td>
    </tr>
    <tr>
      <th scope="row">bid</th>
      <td><%=number_with_precision(@bid,  delimiter: ",", precision: 2)%></td>
    </tr>
  </tbody>
</table>
