<table class="table" style="font-size:11px" >
  <tbody>
    <tr>
      <th  style="width: 50%">market Cap</th>
      <td style="width: 50%"><%=number_with_precision(@marketCap,  delimiter: ",", precision: 2)%></td>
    </tr>
    <tr>
      <th scope="row">pe Ratio</th>
      <td>
        <%=number_with_precision(@peRatio,  delimiter: ",", precision: 2)%>
      </td>
    </tr>
    <tr>
      <th scope="row">eps Ratio</th>
      <td>
        <%=number_with_precision(@epsRatio,  delimiter: ",", precision: 2)%>
      </td>
    </tr>
    <tr>
      <th scope="row">Dividends</th>
      <td>
        <%=number_with_precision(@dividends,  delimiter: ",", precision: 2)%>
      </td>
    </tr>
    <tr>
      <th scope="row">dividend Yield</th>
      <td>
        <%=number_with_precision(@dividendYield,  delimiter: ",", precision: 2)%>
      </td>
    </tr>
    <tr>
      <th scope="row">last Dividend</th>
      <td><%=number_with_precision(@lastDividendValue,  delimiter: ",", precision: 2)%>
      </td>
    </tr>
    <tr>
      <th scope="row">stock Splits</th>
      <td><%=number_with_precision(@stockSplits,  delimiter: ",", precision: 2)%></td>
    </tr>
    <tr>
      <th scope="row">yield</th>
      <td>
        <%=number_with_precision(@yield,  delimiter: ",", precision: 2)%>
      </td>
    </tr>
  </tbody>
</table>
