<div  data-controller="trading"  data-trading-prices-value="<%=@intraPrices%>">
  <p style="color: red"><%= @notice %></p>
  <%= stylesheet_link_tag "typeahead" %>
  <div class="">
    <h1>Trading</h1>
    <div id="bloodhound">
      <input type="text" class="form-control typeahead" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search symbol">
    </div>
    <% if @symbol %>
      <%= content_tag "div", id: "symbolDataDiv", data: {id: @symbol.id, symbol: @symbol.symbol} do %>
      <% end %>
      <div class="d-flex flex-row mt-4">
        <h5 class="mr-3"><%=@symbol.symbol%> (<%=@symbol.name%>)</h5>
        <% if @isOnMyList == true %>
          <button id="removeFromFavorites" type="button" class="btn btn-outline-primary rounded-pill" style="border-radius: 50rem!important;"><i class="fa-solid fa-check"></i> Following</button>
        <% else %>
          <button id="addToFavorites" type="button" class="btn btn-outline-primary rounded-pill" style="border-radius: 50rem!important;"><i class="fa-solid fa-plus"></i> Follow</button>
        <% end %>
      </div>
      <h3><%= number_to_currency(@close, :unit => "$")%></h3>
    <% end %>
    <div class="row mt-4">
      <div class="col-md-2">
        <h5>Summary</h5>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <h5>Intraday charts</h5>
      </div>
      <div class="col-md-2">
        <h5>Following</h5>
      </div>
      <div class="w-100"></div>
      <div class="col-md-2">
        <%= render 'summary1'%>
      </div>
      <div class="col-md-2">
        <%= render 'summary2'%>
      </div>
      <div class="col-md-6">
        <%= render 'trading_chart'%>
      </div>
      <div  id="favorites" class="col-md-2">
        <%= render 'favorites' ,  traderStocks:current_user.trader_stocks%>
      </div>
    </div>
  </div>
</div>
