<p style="color: green"><%= notice %></p>
<h1>Trader profile</h1>

<%= form_with model: @trader, url: "/trader_profile/update", method: :patch, local: true do |form| %>
  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name,:readonly => true %>
  </div>
  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name,:readonly => true %>
  </div>
  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email,:readonly => true %>
  </div>
  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.label :balance, style: "display: block" %>
    <%= form.text_field :balance,:readonly => true %>
  </div>
   <%= form.fields_for :trader_profile do |trader_profile| %>
    <div>
      <%= trader_profile.label :preferred_index1 , style: "display: block"  %>
      <%= trader_profile.text_field :preferred_index1 %>
    </div>
    <div>
      <%= trader_profile.label :preferred_index2 , style: "display: block" %>
      <%= trader_profile.text_field :preferred_index2 %>
    </div>
    <div>
      <%= trader_profile.label :preferred_index3 , style: "display: block" %>
      <%= trader_profile.text_field :preferred_index3 %>
    </div>
     <div>
      <%= trader_profile.label :trader_notes , style: "display: block" %>
      <%= trader_profile.text_field :trader_notes %>
    </div>
  <% end %>
  <div>
    <%= form.submit %>
  </div>
<% end %>