<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <% if !logged_in? %>
        <a> <%= link_to 'TradingApp', welcome_index_path, class: "navbar-brand mb-0 h1" %> </a>
      <% end %>
      <% if logged_in? %>
        <% if isAdmin%>
          <a> <%= link_to 'TradingApp', administrators_path, class: "navbar-brand mb-0 h1" %> </a>
        <% end %>
        <% if isPortfolioManager%>
          <a> <%= link_to 'TradingApp', portfolio_manager_path(current_user.id), class: "navbar-brand mb-0 h1" %> </a>
        <% end %>
        <% if isTrader%>
          <a> <%= link_to 'TradingApp', trading_index_path, class: "navbar-brand mb-0 h1" %> </a>
        <% end %>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <% if logged_in? %>
            <% if isAdmin %>
              <li class="nav-item active">
                <%= link_to "Administrators", administrators_path, class: "nav-link"%>
              </li>
              <li class="nav-item active">
                <%= link_to "Portfolio Managers", portfolio_managers_path, class: "nav-link"%>
              </li>
            <% end %>
            <% if isPortfolioManager%>
              <li class="nav-item active">
                <%= link_to "Portfolio Manager", portfolio_manager_path(current_user.id), class: "nav-link"%>
              </li>
            <% end %>
            <% if isAdmin || isTrader%>
              <li class="nav-item active">
                <%= link_to "Trading", trading_index_path, class: "nav-link"%>
              </li>
            <% end %>
          <% end %>
        </ul>
        <% if !logged_in? %>
          <div>
            <%= link_to 'Sign In', welcome_index_path, class: "dropdown-item" %>
          </div>
        <% else %>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link adropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false" style="padding: unset;">
                <%= "#{current_user.email}" %>
                <% if !current_user.profile_image.present? %>
                  <i class="fa-solid fa-user-tie fa-xl"></i>
                <% else %>
                  <img  src="<%= current_user.profile_image%>" class="aimg-fluid aprofile-thumbnail" style="width: 40px;
  height: 40px;
  box-sizing: border-box;
  background-clip: content-box;
  border: 2px solid transparent;
  border-radius: 49.9%;" />
                <% end %>
                <i class="fa-solid fa-caret-down"></i>
              </a>
              <div  class="dropdown-menu">
                <% if isAdmin %>
                  <a> <%= link_to 'Profile', administrator_profile_index_path, class: "dropdown-item" %> </a>
                <% end %>
                <% if isTrader %>
                  <a> <%= link_to 'Profile', trader_profile_index_path, class: "dropdown-item" %> </a>
                <% end %>
                <% if isPortfolioManager %>
                  <a> <%= link_to 'Profile', portfolio_manager_profile_index_path, class: "dropdown-item" %> </a>
                <% end %>
                <a> <%= link_to 'Logout', sessions_destroy_path, method: :delete, class: "dropdown-item" %> </a>
              </div>
            </div>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
</header>
